<div class='title'>
  <h1>Reviews</h1>
  <a href='/reviews/add' class='btn btn-primary'>Add new review</a>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Title</th>
      <th scope='col'>Postcode</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {{#each reviews}}
      <tr>
        <td class='nowrap'>{{this.date}}</td>
        <td>{{this.title}}</td>
        <td>{{this.postcode}}</td>
        <td>
          <a
            href='/reviews/delete/{{this.id}}'
            class='btn btn-danger'
          >Delete</a>
        </td>
        <td>
          <a href='/reviews/edit/{{this.id}}' class='btn btn-warning'>Edit</a>
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>